<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/table.css" type="text/css">
</head>

<body>
    <div>
        <div id="title">
            <h1>OFFICEBOARD V1</h1>
        </div>
        <div class="wrapper">
            <h2>Items</h2>
            <div id="items-list" class="table">
                <div class="row header green">
                    <div class="cell">
                        Id
                    </div>
                    <div class="cell">
                        Name
                    </div>
                    <div class="cell">
                        Category
                    </div>
                    <div class="cell">
                        Quantity
                    </div>
                </div>
                <!-- 에러 처리 -->
                <% if(data.items =="Server Error"){ %>
                    <div class="row">
                        <div class="cell">
                            Server Error
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                    </div>
                    <%}else{%>
                        <!-- 데이터 처리 -->
                        <% for(var i=0; i<data.items.length; i++){ %>
                            <div class="row">
                                <div class="cell">
                                    <%=data.items[i].id%>
                                </div>
                                <div class="cell">
                                    <%=data.items[i].name%>
                                </div>
                                <div class="cell">
                                    <%=data.items[i].category%>
                                </div>
                                <div class="cell">
                                    <%=data.items[i].quantity%>
                                </div>
                            </div>
                            <%}%>
                                <%}%>
            </div>
        </div>

        <div class="wrapper">
            <h2>Employees</h2>
            <div id="employees-list" class="table">
                <div class="row header blue">
                    <div class="cell">
                        Id
                    </div>
                    <div class="cell">
                        FirstName
                    </div>
                    <div class="cell">
                        LastName
                    </div>
                    <div class="cell">
                        Email
                    </div>
                    <div class="cell">
                        Department
                    </div>
                    <div class="cell">
                        Phone
                    </div>
                </div>
                <!-- 에러 처리 -->

                <% if(data.emps =="Server Error"){ %>
                    <div class="row">
                        <div class="cell">
                            Server Error
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                    </div>
                    <%}else{%>
                        <!-- 데이터 처리 -->
                        <% for(var i=0; i<data.emps.length; i++){ %>
                            <div class="row">
                                <div class="cell">
                                    <%=data.emps[i].id%>
                                </div>
                                <div class="cell">
                                    <%=data.emps[i].firstName%>
                                </div>
                                <div class="cell">
                                    <%=data.emps[i].lastName%>
                                </div>
                                <div class="cell">
                                    <%=data.emps[i].email%>
                                </div>
                                <div class="cell">
                                    <%=data.emps[i].department%>
                                </div>
                                <div class="cell">
                                    <%=data.emps[i].phone%>
                                </div>
                            </div>
                            <%}%>
                                <%}%>
            </div>
        </div>
    </div>
    </div>
</body>

</html>